.main-app {
    padding: 20px;
    color: #1a1a1a;
    width: 70%;
    margin: 30px auto;
    border-radius: 10px;
    color: 292929;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;

    > section {
        padding-block: 5px;
    }
}