<section class="home-page">
    <img class="img" src="../../../assets/imgs/angular-logo.png" alt="app logo">
    <section class="info">
        <h1>Welcome to My Angular Practice App!</h1>
    <p>Explore this Angular project, crafted as a playground for experimenting and honing Angular skills. While this app isn't a learning resource, it's a practical example of Angular in action, showcasing various features and techniques. Dive in, check out the functionalities, and see how Angular powers this application. Enjoy the exploration!</p>
    </section>
</section>